.main-header {
  display: flex;
  justify-content: space-between;
  padding-top: 58px;
  padding-right: 24px;
}

.my-logo {
  width: 76px;
  height: 20px;
  left: 24px;
  top: 10px;
  font-family: 'poppins', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: 20px;
  align-items: center;
  color: #6070ff;
  text-decoration: none;
}

.main-section {
  background-image: url("./image/header-shapes\ mobile\ latest.png");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  order: 2;
}

a i {
  color: #6070ff;
}
 
.headline {
  height: 150px;
  left: 24px;
  padding-top: 28px;
  font-family: 'poppins','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 52px;
  display: flex;
  align-items: center;
  margin-top: 92px;
}

.primary-text {
  height: 146px;
  left: 24px;
  top: 276px;
  font-family: 'poppins','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 1px;
}

#text {
  font-family: 'poppins','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.connect {
  padding-top: 20px;
  order: 2;
}

.media-icon-section {
  display: flex;
  height: 30px;
  width: 170.17px;
  list-style-type: none;
  align-items: baseline;
  padding-left: 1px;
}

.social-media-icons {
  height: 30px;
  width: 30px;
  margin: 10px;
}

img:hover {
  background-color:#6070ff;
}
