.main-header {
  display: flex;
  justify-content: space-between;
  padding-top: 58px;
  margin-left: 24px;
  margin-right: 24px;
}

.my-logo {
  width: 76px;
  height: 20px;
  left: 24px;
  top: 10px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: 20px;
  align-items: center;
  color: #6070ff;
  text-decoration: none;
}

.main-section {
  background-image: url("./image/header-shapes\ mobile\ latest.png");
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  order: 2;
  padding-left: 24px;
  padding-right: 24px;
  margin: 0;
}

body{
  margin:0px;
}

a i {
  color: #6070ff;
}

.headline {
  padding-top: 28px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold ;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  margin-top: 92px;
  color: #172B4D;
}
.headline-title{
  margin:0;
}

.primary-text {
  height: 146px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0;
}

#text {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.connect {
  order: 2;
  margin: 0;
}

.media-icon-section {
  display: flex;
  height: 30px;
  width: 170.17px;
  list-style-type: none;
  align-items: baseline;
  padding-left: 0;
}

.social-media-icons {
  height: 30px;
  width: 30px;
  margin: 0 10px 10px 0;
}

img:hover {
  background-color: #6070ff;
}
